@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');



* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html,body {
    height: 100%;
}

img {
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width:100%;
    height:auto;
}

nav {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    padding-bottom:20px;
}



body {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "rightpage";
}

.sidebar {
    grid-area: sidebar;
    background-color: #ffffff;
    color: #fff;
    font-family: rift-soft, sans-serif;
    font-style: normal;
    font-weight: 500;
}

.blueArt {
    font-family: 'Roboto Condensed', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49,68,85);
    height: 35px;
    /* padding-top:15px;
    padding-left: 50px; */
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

ul {
    margin-top:20px;
    list-style-type: none;
    float:right;
    margin-right: 30px;
}

ul li {
    display:none;
}

ul li.active {
    display:none;
}

ul li.show{
    display:inline;
}

/* ul li {
    display: none;
} */
/* 
ul li.show{
    display: inline;
} */

ul li a {
    color: rgb(204,123,70);
    padding: 20px;
    font-size: 30px;
    text-transform: uppercase;
}

ul li a.active {
    color:black;
}

i {
    font-size: 40px;
    float:right;
}

header {
    background-color: #ffffff;
    display: grid;
    grid-area:head;
    grid-template-columns: auto;
}


.main {
    grid-area:rightpage;
    grid-template-rows: fit-content(80px) 500px fit-content(200px) fit-content(800px) 120px;
    display:grid;
    grid-template-areas: 
    'head'
    'home'
    'titlecontent'
    'hero'
    'footer';
}

/* CALENDAR */

.h1Calendar {
    font-family: 'Roboto', sans-serif;
    display:flex;
    color:rgb(204,123,70);
    margin-top:20px;
    margin-bottom:15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap:wrap;
    font-size: 18px;
    height: 35px;
    /* padding-top:15px;
    padding-left: 50px; */
    text-transform: uppercase;
}

.home {
    background-image: url(/images/ror_wpis.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity:1;
    position: static;
    grid-template-columns: 1fr;
    grid-area:home;
    height:500px;
    min-width:100%;
}

.containerHome {
    position:relative;
} 

.containerHome img {
    position:absolute;
    width: 150px;
    height: 150px;
    right:20px;
    bottom:-70px;
}


.home .caption {
    width : 100%;
    text-align: center;
    padding:100px;
    margin:0 auto;
    height:500px;
    font-family: rift-soft, sans-serif;
}

.home .caption .h2Blog {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #FFFFFF;
}

.h1Blog {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding:80px 0 50px 0;
}

/* TEXTCONTENT */

.titleContent {
    display:grid;
    grid-area:titlecontent;
    justify-content: center;
    align-items:center;
    font-family:rift-soft,sans-serif;
    
}

.titleContent h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
    margin:50px 0;
}

.titleContent p{
    width: 1329px;
    height: 89px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;

}

/* HERO */

.hero {
    padding:100px 0 150px 0;
    width:75vw;
    margin:0 auto;
    display:grid;
    grid-area:hero;
    grid-template-columns: repeat(2,1fr);
    grid-gap:30px 100px;
    text-align: justify;
    font-family:rift-soft,sans-serif;
}
.hero1, .hero2, .hero3, .hero4, .hero5, .hero6, .hero7 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    /* or 175% */

    letter-spacing: 0.03em;

    color: #2E3033;
}

.hero4 h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.05em;
    display:flex;
    align-items: center;
    color: #2E3033;
    }

    .hero6 h1 {
        font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #2E3033;
    }

footer {
    grid-area:footer;
    background: rgb(195,206,216);
}

@media screen and (max-width: 768px) {
    .home .slide.active{
        position: relative;
        width:100%;
    }
    .home {
        font-size:14px;
    }

    .home .caption .h2Blog {
        font-size: 18px;
        text-transform: lowercase;
        color:black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        margin-bottom: 20px;
    }
    
    .h1Blog {
        font-size: 52px;
        margin-bottom: 40px;
    }

    .sidebar {
        display:none;
    }

    body {
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "rightpage";
    }

    .card {
        margin-top:30px;
    }

    ul {
        width:80%;
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }

    .containerHome {
        width:80%;
    }

    .h1Blog {
        font-size:42px;
    }
    
    .home .caption {
        margin-top:-40px;
    }
}

a {
    background: none repeat scroll 0 0 black;
    border: medium none;
    color: #FFFFFF;
    height: 50px;
    font-family: 'Montserrat';
    right:0;
    text-align:center;
    padding:5px;
    margin-top:200px;
    border-top-left-radius:10px;
    position: fixed;
    top: 100px;
    width: 100px;
  }

  /* FOOTER */ /* FOOTER *//* FOOTER *//* FOOTER */

.footer {
    margin-top: 0;
    width: 100%;
    height: 251px;
    background: rgba(46, 48, 51, 0.85);
  }
  
  .footer .footer-container {
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin:0;
    padding:0;
  }
  
  .footer .logo-financial {
    width: 220px;
    height: 171px;
  }
  
  .footer-events {
    padding:8px 41px 20px 0;
    border-top: 2px solid #2E3033;
    border-right: 2px solid #2E3033;
  }
  
  .footer-events h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin:0 0 15px 0;
  }
  
  .footer-events .events-box {
    width:264px;
    height: 126px;
    background: #2E3033;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  
  .footer-events .events-box h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 19px 0 11px 0;
    margin:0;
  }
  
  .footer-events .events-box h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0 0 19px 0;
  }
  
  .footer-events .events-box p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin:0;
    padding:0;
    width:auto;
  }
  
  .social-media {
    display:flex;
    flex-direction: row;
    border-bottom: 2px solid #2E3033;
    border-left: 2px solid #2E3033;
    padding: 0 0 24px 28px;
  }
  
  .social-media h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
    margin:0;
  }
  
  .social-media ul {
    margin-left:-90px;
  }
  
  .social-media ul li img {
    width:40px;
    height:40px;
  }
  
  .social-media ul li{
    padding-top:15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:37px;
  }
  
  .social-media ul li button {
    background: #2158AB !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    height:27px;
    width: 160px;
    border:none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .social-media ul li .btn-orange {
    background: #F56040 !important;
  }
  
  .social-media ul li .btn-blue {
    background: #0E76AB !important;
  }
  
  .contact-box {
    border-top: 2px solid #2E3033;
    border-right: 2px solid #2E3033;
    padding: 12px 14px 0 0;
  }
  
  .contact-box h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin:0 0 15px 0;
  }
  
  .contact-box p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin:7px 0 0 0;
    padding:0;
    width:auto;
  }