@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
}

/*Header*/

header{
	position: absolute;
	left:0px;
	right:0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding:0px 15px;
	z-index:1111;
}
header.fixed{
	background-color: #ffffff;
	position: fixed;
	border-color: #eeeeee;
	animation: fixHeader .5s ease;
	z-index: 1111;
}

@keyframes fixHeader{
	0%{
		transform: translateY(-100%);
	}
	100%{
	transform: translateY(-%);	
	}
}

header .row{
	justify-content: space-between;
  align-items: center;
  width: 90%;
  margin:0 auto;
}
header .brand-name a{
   text-decoration: none;
   font-size: 22px;
   font-weight: 600;
   color:#ffffff;
   text-transform: uppercase;
   position: relative;
}
header.fixed .brand-name a{
	color:#000000;
}
header .navbar ul{
	list-style: none;
	padding:0;
  margin:0;
  float:right;
}
header .navbar ul li{
	display: inline-block;
	margin-left:35px;
}
header .navbar ul li a{
	font-size: 16px;
	text-decoration: none;
	line-height: 72px;
  color:#ffffff;
  font-family: 'Montserrat';
	display: block;
	font-weight: 500;
	position: relative;
}
header.fixed .navbar ul li a{
  color:#000000;
}

header .navbar ul li a::before{
   content: '';
   height: 3px;
   background-color: #ffffff;
   width:0%;
   position: absolute;
   right:0px;
   bottom:-1px;
   transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
	background-color: #febd01;
}
header .navbar ul li a:hover::before{
	width:100%;
	left:0;
}
header .navbar ul li a.active::before{
	width:100%;
	left:0;
}

header .brand-name img {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  margin-top: -5px;
  width: 85px;
  height: 85px;
}

@media(max-width: 991px){
  .home .home-content .block h1{
    font-size: 50px;
  }

}

@media(max-width: 767px){
 .home .home-content .block h1{
    font-size: 40px;
  }
  .home .home-content .block h3{
    font-size:25px;
  }
 header{
   padding:15px;
   position: fixed;
   background-color: #ffffff;
   border: none;
   border-bottom:1px solid #eeeeee;
 }
header .brand-name a{
  color:#000000;
}    
    .ham-burger .fa{
      display: inline-block;
    }
    .navbar{
      position: absolute;
       background-color: #ffffff;
       width: 100%;
       left: 0px;
       top:50px;
       padding:15px;
       border-top:1px solid #eeeeee;
       display: none;
       border-bottom:1px solid #eeeeee;
    }
    .navbar.show{
      display: block;
    }

    header .navbar ul {
      float:initial !important;
    }

    header .navbar ul li{
      display: block;
      margin-left:0;
    }
    header .navbar ul li a{
      line-height:42px;
      color:#000000;
    }
    header .navbar ul li a::before{
      background-color:#febd01;
    }

    header .container .row .ham-burger {
      display:block !important;
    }

    header .brand-name img {
      display:none;
    }


}

/* HERO SECTION */

.container-top-img{
  width:100%;
  height:570px;
  background-image: url('../images/blog_top.png');
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
}

.container-top-img h1 {
  position: absolute;
  width: 100%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.container-top-img p {
  position: absolute;
  width: 60%;
  left:50%;
  top:67%;
  transform: translate(-50%, -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;

  color: #FFFFFF;
}

.container-hero {
  margin-top:50px;
  display:grid;
  grid-template-rows:500px;
  grid-template-columns:75% 25%;
  grid-template-areas:
  "lefthero righthero";
  padding-bottom:300px !important;
}

.container-left-hero {
  grid-area: lefthero;
  width:100%;
  height:100%;
}

.container-right-hero {
  grid-area: righthero;
  width:100%;
  height:100%;
  border-left: 1px solid #2E3033;
}

.container-left-hero .container-button {
  display:flex;
  justify-content: space-around;
  width:100%;
}

.container-left-hero .container-button button {
  flex-basis:30%;
  height:68px;
  background: #2E3033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border:none;
  color:#FFFFFF;
  font-size:2vw;
  font-weight:700;
  margin-bottom: 50px;
}

.container-left-hero .container-button button:focus {
  outline:none;
}

.container-left-hero .container-button .btn-active {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #2E3033;
}

.container-left-hero .container-card {
  display:flex;
  justify-content: space-around;
  width:100%;
}

.container-left-hero .container-card .card {
  flex-basis:30%;
  height:380px;
  font-family: 'Montserrat', sans-serif;
}

.container-left-hero .container-card .card .card-top{
  height:50%;
  width:100%;
  background: red;
}

.container-left-hero .container-card .card .card-top:nth-child(1){
  height:50%;
  width:100%;
  background: url('../images/piggy-bank-2889046_1920.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.container-left-hero .container-card .card .card-bottom {
  height:50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container {
  width:90%;
  margin:0 auto;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container h4{
  font-weight: 800;
  font-size: 15px;
  padding-top:18px;  
  color: #2E3033;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container .first-p{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top:18px;  
  color: #2E3033;
  float:left;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container .second-p{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top:18px;  
  color: #2E3033;
  float:right;
}


.container-left-hero .container-card .card .card-bottom .card-bottom-container .third-p{
  font-weight: 300;
  font-size: 13px;
  padding-top:50px;
  color: #2E3033;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container .third-p{
  font-weight: 300;
  font-size: 13px;
  padding-top:50px;
  color: #2E3033;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container button{
  background: #2E3033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  float:right;
  color:#FFFFFF;
  width:40%;
  height: 27px;
  margin-top:25px;
  font-weight: 500;
  font-size: 12px;
  border:none;
}

.container-left-hero .container-card .card .card-bottom .card-bottom-container button:hover{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color:#2E3033;
  border:none;
}

.container-right-hero h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #2E3033;
  text-align:center;
}
