@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Montserrat', sans-serif;
}

/*Header*/

header{
	position: absolute;
	left:0px;
	right:0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	padding:0px 15px;
	z-index:1111;
}
header.fixed{
	background-color: #ffffff;
	position: fixed;
	border-color: #eeeeee;
	animation: fixHeader .5s ease;
	z-index: 1111;
}

@keyframes fixHeader{
	0%{
		transform: translateY(-100%);
	}
	100%{
	transform: translateY(-%);	
	}
}

header .row{
	justify-content: space-between;
  align-items: center;
  width: 90%;
  margin:0 auto;
}
header .brand-name a{
   text-decoration: none;
   font-size: 22px;
   font-weight: 600;
   color:#ffffff;
   text-transform: uppercase;
   position: relative;
}
header.fixed .brand-name a{
	color:#000000;
}
header .navbar ul{
	list-style: none;
	padding:0;
  margin:0;
  float:right;
}
header .navbar ul li{
	display: inline-block;
	margin-left:35px;
}
header .navbar ul li a{
	font-size: 16px;
	text-decoration: none;
	line-height: 72px;
  color:#ffffff;
  font-family: 'Montserrat';
	display: block;
	font-weight: 500;
	position: relative;
}
header.fixed .navbar ul li a{
  color:#000000;
}

header .navbar ul li a::before{
   content: '';
   height: 3px;
   background-color: #ffffff;
   width:0%;
   position: absolute;
   right:0px;
   bottom:-1px;
   transition: all .5s ease;
}
header.fixed .navbar ul li a::before{
	background-color: #febd01;
}
header .navbar ul li a:hover::before{
	width:100%;
	left:0;
}
header .navbar ul li a.active::before{
	width:100%;
	left:0;
}

header .brand-name img {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  margin-top: -5px;
  width: 85px;
  height: 85px;
}

@media(max-width: 991px){
  .home .home-content .block h1{
    font-size: 50px;
  }

}

@media(max-width: 767px){
 .home .home-content .block h1{
    font-size: 40px;
  }
  .home .home-content .block h3{
    font-size:25px;
  }
 header{
   padding:15px;
   position: fixed;
   background-color: #ffffff;
   border: none;
   border-bottom:1px solid #eeeeee;
 }
header .brand-name a{
  color:#000000;
}    
    .ham-burger .fa{
      display: inline-block;
    }
    .navbar{
      position: absolute;
       background-color: #ffffff;
       width: 100%;
       left: 0px;
       top:50px;
       padding:15px;
       border-top:1px solid #eeeeee;
       display: none;
       border-bottom:1px solid #eeeeee;
    }
    .navbar.show{
      display: block;
    }

    header .navbar ul {
      float:initial !important;
    }

    header .navbar ul li{
      display: block;
      margin-left:0;
    }
    header .navbar ul li a{
      line-height:42px;
      color:#000000;
    }
    header .navbar ul li a::before{
      background-color:#febd01;
    }

    header .container .row .ham-burger {
      display:block !important;
    }

    header .brand-name img {
      display:none;
    }


}

/* HERO SECTION */

.container-top-img{
  width:100%;
  height:570px;
  background-image: url('../images/blog_top.png');
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
}

.container-top-img h1 {
  position: absolute;
  width: 100%;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.container-top-img p {
  position: absolute;
  width: 60%;
  left:50%;
  top:67%;
  transform: translate(-50%, -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: center;

  color: #FFFFFF;
}

.left-page .choose-topic {
  height:68px;
  width:90%;
  margin:35px auto 35px auto;
  background: rgba(1, 0, 48, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.left-page .choose-topic h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.left-page .container-button {
  display:flex;
  justify-content: flex-start;
  width:100%;
  grid-gap:35px;
  width:90%;
  margin:0 auto;
}

.left-page .container-button button {
  flex-basis:23%;
  height:68px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border:none;
  color:#FFFFFF;
  font-size:28px;
  font-weight:700;
  margin-bottom: 50px;
}

.left-page .container-button button:focus {
  outline:none;
}

.left-page .container-button .btn-active {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #2E3033;
}

.left-page .container-card {
  display:flex;
  justify-content: flex-start;
  flex-wrap:wrap;
  grid-gap:35px;
  width:90%;
  margin:0 auto;
}

.left-page .container-card .card {
  flex-basis:23%;
  height:380px;
  font-family: 'Montserrat', sans-serif;
}

.left-page .container-card .card .card-top{
  height:50%;
  width:100%;
  background: red;
  border-radius: 10px;
}

.left-page .container-card .card .card-top:nth-child(1){
  height:50%;
  width:100%;
  background: url('../images/piggy-bank-2889046_1920.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.left-page .container-card .card .card-bottom {
  height:50%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top:-10px;
}

.left-page .container-card .card .card-bottom .card-bottom-container {
  width:90%;
  margin:0 auto;
}

.left-page .container-card .card .card-bottom .card-bottom-container h4{
  font-weight: 800;
  font-size: 15px;
  padding-top:18px;  
  color: #2E3033;
}

.left-page .container-card .card .card-bottom .card-bottom-container .first-p{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top:18px;  
  color: #2E3033;
  float:left;
}

.left-page .container-card .card .card-bottom .card-bottom-container .second-p{
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-top:18px;  
  color: #2E3033;
  float:right;
}


.left-page .container-card .card .card-bottom .card-bottom-container .third-p{
  font-weight: 300;
  font-size: 13px;
  padding-top:50px;
  color: #2E3033;
}

.left-page .container-card .card .card-bottom .card-bottom-container .third-p{
  font-weight: 300;
  font-size: 13px;
  padding-top:50px;
  color: #2E3033;
}

.left-page .container-card .card .card-bottom .card-bottom-container a {
  background: #2E3033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  float:right;
  color:#FFFFFF;
  width:40%;
  height: 27px;
  margin-top:25px;
  font-weight: 500;
  font-size: 12px;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.left-page .container-card .card .card-bottom .card-bottom-container a:hover{
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color:#2E3033 !important;
  border:none;
}

/* FOOTER */ /* FOOTER *//* FOOTER *//* FOOTER */

/* .footer {
  margin-top: 500px;
  width: 100%;
  height: 251px;
  background: rgba(46, 48, 51, 0.85);
}

.footer .footer-container {
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin:0;
  padding:0;
}

.footer .logo-financial {
  width: 220px;
  height: 171px;
}

.footer-events {
  padding:8px 41px 20px 0;
  border-top: 2px solid #2E3033;
  border-right: 2px solid #2E3033;
}

.footer-events h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin:0 0 15px 0;
}

.footer-events .events-box {
  width:264px;
  height: 126px;
  background: #2E3033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.footer-events .events-box h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 19px 0 11px 0;
  margin:0;
}

.footer-events .events-box h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:0 0 19px 0;
}

.footer-events .events-box p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin:0;
  padding:0;
  width:auto;
}

.social-media {
  display:flex;
  flex-direction: row;
  border-bottom: 2px solid #2E3033;
  border-left: 2px solid #2E3033;
  padding: 0 0 24px 28px;
}

.social-media h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-90deg);
  margin:0;
}

.social-media ul {
  margin-left:-90px;
}

.social-media ul li img {
  width:40px;
  height:40px;
}

.social-media ul li{
  padding-top:15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:37px;
}

.social-media ul li button {
  background: #2158AB !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  height:27px;
  width: 160px;
  border:none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.social-media ul li .btn-orange {
  background: #F56040 !important;
}

.social-media ul li .btn-blue {
  background: #0E76AB !important;
}

.contact-box {
  border-top: 2px solid #2E3033;
  border-right: 2px solid #2E3033;
  padding: 12px 14px 0 0;
}

.contact-box h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin:0 0 15px 0;
}

.contact-box p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  margin:7px 0 0 0;
  padding:0;
  width:auto;
} */

/* SIDEBAR */

.main-grid {
  position: relative;
  display:grid;
  grid-template-columns: 82% 18%;
  grid-template-rows: auto;
  background-image: url('../images/blog_background.png');
  background-repeat: no-repeat;
  background-size:cover;
  position:relative;
  height:1966px;
  margin-top:-7px;
}

.right-page {
  height: 100%;
  width: 18%;
  position: absolute;
  z-index: 1;
  top: 100px;
  right: 0;
  padding-right:30px;
}


.sidebar {
  position: sticky;
  top:100px;
  width: 100%;
  height:100vh;
}

.top-sidebar {
  background: #010030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:21vh;
  width:100%;
  margin:0 0 4px 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.top-sidebar img{
  max-width: 100%;
  height: auto;
  display:block; 
}

.middle-sidebar {
  background: #010030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:24vh;
  width:100%;
  margin:0 0 4px 0;
  display:flex;
  align-items: center;
  justify-content: center;
}

.middle-sidebar-container {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  height:80%;
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-sidebar-container h4 {
  margin: 7px 0;
  text-align: center;
}

.middle-sidebar-container hr {
  width: 30%;
  margin:5px 0;
}

.middle-sidebar-container p {
  text-align: center;
  color: rgba(46, 48, 51, 0.8);
  font-size: 13px;
}

.contact-sidebar {
  background: #010030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:15vh;
  width:100%;
  margin:0 0 4px 0;
  display:flex;
  align-items: center;
  justify-content: center;
}


.contact-sidebar p {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #FFFFFF;
  line-height:30px;
  width:80%;
}

.bottom-sidebar {
  background: #010030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:26vh;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.bottom-sidebar form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:80%;
}

.bottom-sidebar form input {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width:100%;
  height:30px;
  border:none;
  padding-left:15px;
}

.bottom-sidebar form textarea {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width:100%;
  height:90px;
  margin:10px 0 0 0;
  border:none;
  padding:10px 0 0 15px;
}

.bottom-sidebar form button {
  background: #2E3033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding:7px 24px;
  color: #ffffff;
  border:none;
  margin-top:10px;
}

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

footer {
  padding:40px 0;
  background: #010030;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-container {
  width:50%;
  height:80%;
}

footer h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF
}

footer h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
  margin: 30px 0;
}

.icon-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  margin-right:60px;
}

.icon-container img:nth-last-child(1) {
  margin-right: 0;
}

.footer-container hr {
  margin:30px 0 20px 0;
  color: #C4C4C4;
}

.footer-container p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}