@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  display: initial;
}

/* FIRST SECTION */

.about {
  max-height: 577px;
  background-color: black;
  color: white;
  background-image: url(../../images/about_us.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 14%;
  background-color: rgba(0, 12, 53, 0.5);
}

.about h2 {
  font-size: 70px;
}

.about p {
  font-size: 20px;
  text-align: center;
}
