@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  display: initial;
}

/* FIRST SECTION */

.about {
  max-height: 577px;
  background-color: black;
  color: white;
  background-image: url(../../images/about_us.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 14%;
  background-color: rgba(0, 12, 53, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 250px;
}

.about h2 {
  font-size: 70px;
  margin-bottom: 75px;
}

.about p {
  font-size: 20px;
  text-align: center;
}

.way {
  padding: 150px 140px 100px 140px;
}

.way-header {
  text-align: center;
  font-size: 70px;
  margin-bottom: 50px;
}

.way-card {
  display: grid;
  grid-template-columns: 55% 1fr;
  background-color: #2e3033;
  padding: 50px;
  grid-gap: 50px;
}

.way-card-p-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.way-card p {
  color: white;
  height: 100%;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: justify;
}

.way-card img {
  width: 100%;
  height: 100%;
}

.meet-header-contener {
  background-color: rgba(0, 0, 0, 0.2);
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meet h2 {
  font-size: 70px;
}

.card-1-header-container,
.card-2-header-container {
  bottom: 137px;
  left: -237px;
  position: absolute;
  width: fit-content;
  transform: rotate(90deg);
}

.card-2-header-container {
  left: unset;
  right: -237px;
  bottom: 151px;
}

.relative {
  position: relative;
}

.card-1-header-container hr,
.card-2-header-container hr {
  width: 50%;
  border: 1px solid black;
}

.card-2-header-container hr {
  position: absolute;
  right: 0px;
}

.card-1-header-container h3,
.card-2-header-container h3 {
  font-size: 50px;
  font-weight: 500;
}

.card-1 {
  margin-bottom: 150px;
}

.card-1,
.card-2 {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 40px;
  margin-left: 150px;
}

.card-2 {
  margin-left: 0;
  margin-right: 150px;
  padding-bottom: 0px;
}

.card-background {
  background-color: #2e3033;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 25%;
  height: 75%;
}

.card-1-middle {
  display: flex;
  margin-bottom: 40px;
  padding: 40px 40px 0 40px;
}

.card-1-img {
  margin-right: 30px;
}

.card-2-img {
  margin-left: 30px;
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 9px;
  width: 100%;
}

.card-inner h4 {
  color: white;
  font-size: 30px;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 33.5% 1fr;
  width: 100%;
}

.info {
  box-sizing: inherit;
  display: grid;
  grid-template-rows: auto;
  height: fit-content;
  grid-gap: 15px;
}

.info-inner {
  height: 65px;
  background-color: white;
  box-sizing: inherit;
  display: flex;
  grid-template-rows: 65px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-inner p {
  text-align: center;
}

.card-p-bottom {
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 0 40px;
}

.card-2 .card-p-bottom {
  padding-bottom: 40px;
}

/*********************
  Media Query
**********************/
/* Laptop - 1024 */
@media only screen and (max-width: 1024px) {
  .way {
    padding: 150px 50px 100px 50px;
  }

  .meet-header-contener {
    height: 160px;
  }

  .about h2 {
    margin-bottom: 60px;
  }

  .about h2,
  .way-header,
  .meet h2 {
    font-size: 60px;
  }

  .about p {
    font-size: 18px;
  }

  .card-1-header-container h3,
  .card-2-header-container h3 {
    font-size: 45px;
  }

  .card-p-bottom {
    font-size: 14px;
  }

  .card-1-img,
  .card-2-img {
    max-width: 350px;
  }

  .info-inner {
    height: 55px;
  }

  .card-1 {
    margin-left: 120px;
  }

  .card-2 {
    margin-right: 120px;
  }

  .card-1-header-container {
    left: -200px;
  }

  .card-2-header-container {
    right: -200px;
  }
}

/* Tablet - 768 */
@media only screen and (max-width: 768px) {
  .way {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .way-card {
    padding: 40px;
    grid-gap: 40px;
  }

  .meet-header-contener {
    height: 100px;
  }

  .about {
    max-height: 400px;
  }

  .about h2 {
    margin-bottom: 30px;
  }

  .mask {
    padding-top: 165px;
  }

  .about h2,
  .way-header,
  .meet h2 {
    font-size: 40px;
  }

  .way-header {
    margin-bottom: 20px;
  }

  .way-card p {
    line-height: normal;
    letter-spacing: normal;
    font-size: 14px;
  }

  .grid,
  .info {
    grid-gap: 10px;
  }

  .card-1-header-container h3,
  .card-2-header-container h3 {
    font-size: 40px;
  }

  .card-1-middle {
    padding: 30px 20px 0 20px;
  }

  .card-p-bottom {
    font-size: 12px;
  }

  .card-1-img,
  .card-2-img {
    max-width: 220px;
  }

  .card-1-img {
    margin-right: 20px;
  }

  .card-2-img {
    margin-left: 20px;
  }

  .info-inner {
    height: 40px;
  }

  .info-inner p {
    font-size: 13px;
  }

  .card-inner h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .card-1 {
    margin-left: 80px;
    padding-bottom: 20px;
  }

  .card-2 {
    margin-right: 80px;
  }

  .card-1-middle {
    margin-bottom: 10px;
  }

  .card-2 .card-p-bottom {
    padding-bottom: 20px;
  }

  .card-1-header-container {
    left: -155px;
  }

  .card-2-header-container {
    right: -155px;
  }

  .card-1-header-container,
  .card-2-header-container {
    bottom: 107px;
  }

  .card-1-header-container h3,
  .card-2-header-container h3 {
    font-size: 35px;
  }
}
